#calculator{
    background-color: yellow;
    width: fit-content;
    height: fit-content;
    padding: 5%;
    display:flex;
    flex-direction: column;
}
#nums{
    display:flex;
    flex-wrap:wrap;
    background-color: blue;
    padding: 2%;
    width:90px;
    justify-content: center;
}
#operators{
    flex-grow:0;
}
#display{
    background-color: white;
    width:150px;
    height:100px;
}