body{
    display: flex;
}
#calculator{
    background-color: darkgray;
    width: fit-content;
    height: fit-content;
    padding: 22px;
    display:flex;
    flex-direction: column;
    margin-right: auto;
    border-radius: 70px;
}
#nums{
    display:flex;
    flex-wrap:wrap;
    background-color: darkgray;
    width:150px;
    justify-content: center;
    border-radius: 90px;
}
#operators{
    flex-grow:0;
    display: flex;
    flex-direction: column;
}
#display{
    background-color: white;
    width:200px;
    min-height: 23px;
    height:fit-content;
    word-wrap: break-word;
    font-size: 20px;
    margin-bottom: 50px;
}
#buttons{
    display: flex;
    justify-content: center;
}
p{
    margin:0;
}
h1{
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}
button{
    background-color: lightgray;
    border-radius: 5px;
    font-size: 30px;
    width:50px;
    height:50px;
}
#clear,#backspace{
    width: auto;
    flex:1 1 auto;
}
#clearButtons{
    display: flex;
}
#intro{
    word-wrap: break-word;
    width:550px;
}